<div id="nav-bar">
  <button class='btn btn-default' onclick="goToView('#search-container')">ASL Dictionary</button>
  <button class='btn btn-default' onclick="goToView('#match-game')">Play Match!</button>
</div>
