<div id="nav-bar">
  <p class="nav-title">LEARN</p>
  <button onclick="goToView('#search-container')">Dictionary</button>

  <p class="nav-title">PLAY</p>
  <button onclick="goToView('#match-game')">Match</button>
</div>
